@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #0f0c1b;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn {
	@apply rounded-lg;
}

.input {
	@apply rounded-lg;
}

.header-effect {
	background: radial-gradient(circle, #fbfaff, #a7a5af);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
